# ==============================================================================
# Documentation
# ==============================================================================
mkdocs-material

# ==============================================================================
# General Python Dependencies
# ==============================================================================
python-dotenv

# ==============================================================================
# Azure SDK Dependencies
# ==============================================================================
# Identity and authentication
azure-identity

# AI and evaluation
azure-ai-evaluation[redteam]
azure-ai-projects
azure-ai-agents
